{#
/**
 * @file transaccion.html.twig
 * Default theme implementation to present Transacción data.
 *
 * This template is used when viewing Transacción pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_transaccion()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('transaccion') }}>
  {% if content %}
    <div>
        <h3>Detalles de la transacción</h3>
        {{ content.field_semilla }}
        {{ content.field_texto_largo }}
        {{ content.field_transaccion_state }}
        {{ content.field_fecha }}
        {{ content.field_terminos }}
        {{ content.field_terminos_opcionales }}
    </div>
  {% endif %}
</div>
